<h3>Twitter Practice!</h3>

<form class="twitter" action="/tweets" method="post">
  <label for="user">twitter handle</label>
  <br>
  <input type="text" name="user">
  <br>
  <label for="count">recent tweets to view</label>
  <br>
  <input type="number" name="count" max="50">
  <br>
  <button type="submit" name="button">find tweets</button>
</form>
<br>
<form class="" action="/clear_tweets" method="post">
  <input type="hidden" name="_method" value="delete">
  <button href="/">clear all</button>
</form>
<hr>
<% num = 0 %>
<% @tweets.each do |tweet| %>
  <% num += 1 %>
  <p><%= num %>. <b><%= tweet.name %>:</b> <%= tweet.tweet %></p>
  <p>retweets: <%= tweet.retweet %></p>
  <form class="" action="/tweet/<%= tweet.id %>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <button class="btn btn-default" href="/">remove</button>
  </form>
  <hr>
<%end%>
